@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
    --dark:#0F051D;
    --white: #fff;
    --black:#000;
    --pink : ##e009e4;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #0F051D;
    color: white;
}


@media (min-width: 1200px) {
    .container {
        padding: 0 70px;
    }
}

@media (max-width: 758px){
     .content {
        padding: 0 40px;
    }
}


.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.title {
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
    padding: 50px 0;
}

.title h3 {
    font-size: 35px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

.title span {
    font-size: 35px;
    font-weight: 900;
    background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.container {
   
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color:#0F051D;
}

.navbar .btn-outline-secondary {
    border: 1px solid;
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar-brand img {
   width: 170px;
}

.navbar {

}

.navbar-nav .nav-link {
    margin-left: 40px;
    font-size: 15px;
    color: white;
}

.scrolled .navbar-nav .nav-link {
    color: black;
}

.navbar-nav .sosmed {
    margin-left: 20px;
    font-size: 25px;
    background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
    -webkit-background-clip: text;
    color: transparent;
}



.navbar-nav .nav-link.active {
    color: white;
    font-weight: bold;
}


.navbar-toggler {
    background-color: white;
}

.navbar-collapse {
    background-color: #06042E;
}

.scrolled {
    position: fixed;
    background-color: white;
    color: black;
    padding: 5px 30px;
    transition: all .5s ease-in-out;
}



.scrolled .navbar a {
    color: black;
    transition: 0.4s ease-in-out;
}

.scrolled .logo {
    color: black;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

.scrolled .icons i {
    color: white;
    transition: 0.4s ease-in-out;
    box-shadow: 4px 6px 0 0 var(--white);
}

.scrolled .nav-link.active {
    color: black;
}

.scrolled .navbar-link {
    font-weight: 500;
    color: red;
}



.scrolled .navbar-brand {
    color: black;
}

.navbar-collapse {
    z-index: 2;
    background: none;
}

.navbar-collapse::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.scrolled .navbar-collapse {
    background: none;
}

.navbar-toggler {
    color: white;
    font-size: 20px;
    z-index: 99;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
        /* Atur ukuran font */
    }
    .navbar-toggler {
        color: white;
        font-size: 20px;
    }
}


/* hero */

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section {
   
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .display-4 {
    font-size: 44px;
    color: var(--white);
    font-weight: 800;
    text-transform: uppercase;
}

.hero-section img {
    width: 450px;
    height: auto;
}
@media (max-width: 758px ){
    .hero-section {
        justify-content: center;
        align-items: center;
        text-align: start;
    }

    .hero-section img {
        padding: 40px 0;
    }
}
.display-4 span {}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home {
    min-height: 100vh;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}



.buttons {
    padding: 60px 0;
}

.btn-main {
    background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
    position: relative;
    border: 1px solid #000;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    transition: all .3s ease-in-out;
    
}

.btn-main:hover {
    border: 2px solid black;
    box-shadow: 4px 6px white;
    transition: all .3s ease-in-out;
}



.informasi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.informasi-content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.1);
    height: 500px;
    /* Tinggi yang sesuai dengan kebutuhan */
}

.informasi-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.informasi-image img {
    width: 300px;
    height: 300px;
}

.informasi .informasi-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.979);
    background: linear-gradient(0deg, #ffffff 35%, transparent);
}

.informasi-text {
    position: absolute;
    bottom: 0;
    color: rgba(0, 0, 0, 0.623);
    z-index: 2;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.informasi-text h5 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.informasi-text p {
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.author {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.author img {
    border-radius: 50%;
    margin-right: 10px;
}

.author span {
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .informasi-content {
        width: 100%;
    }
    .informasi-text h5 {
        font-size: 24px;
    }
    .informasi-text p {
        font-size: 14px;
    }
}

.menu {
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.menu-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    color: #fff;
}

.menu-card .poster {
    position: relative;
    overflow: hidden;
}

.menu-card .poster::before {
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ffffff 45%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.menu-card:hover .poster::before {
    bottom: 0px;
}

.menu-card .poster img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    transition: 0.5s;
}

.menu-card:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.menu-card .details {
    position: absolute;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: -120px;
    transition: 0.5s;
    padding: 10px;
    z-index: 999;
    transition: 0.5s;
}

.menu-card:hover .details {
    bottom: 0;
}

.menu-card .tags {
    padding: 10px 0;
}

.menu-card .tags span {
    background-color: #EFEEFE;
    color: #007bff;
    padding: 5px 10px;
    margin: 0 5px;
}

.menu-card .details .tags span:nth-child(2) {
    background: orange;
}

.footer {
    background: #06042E;
    padding: 30px 0px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer .icon {
    margin-bottom: 20px;
}

.footer .icon a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.footer .icon a:hover {
    color: #007bff;
}

.footer .link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .link ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer .link ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .link ul li a:hover {
    color: #007bff;
}

.footer .copy {
    margin-top: 20px;
    color: #6c757d;
}

@media (max-width: 768px) {
    .footer .link ul li {
        display: block;
        margin: 10px 0;
    }
}

.tw {
    color: #1DA1F2;
}

.gh {
    color: #ffffff;
}

.fb {
    color: #4267B2;
}


.hero-section .container {
    position: relative;
    z-index: 2;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-main {
    background-color: #feb47b;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-main:hover {
    background-color: #ff7e5f;
    color: #fff;
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-primary:hover {
    border: 2px solid white;
    color: var(--white);
    transition: all .3s ease-in-out;
}


@media (min-width: 768px) and (max-width: 991px) {
    .sec-img {
        margin-right: 80px;
    }
    /* Gaya untuk tablet atau iPad */
}


/* CSS untuk section dengan dua kolom */

.two-col-sec {
    padding: 60px 0;
}

.two-col-sec .sec-img {
    text-align: right;
    /* Agar gambar berada di kanan */
}

.two-col-sec .sec-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.two-col-sec .sec-text {
    text-align: left;
    color: black;
}

.two-col-sec .xxl-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.two-col-sec p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: black;
}

@media (max-width: 767px) {
    .sec-text .xxl-title {
        text-align: center;
    }
    .sec-text p {
        text-align: justify;
    }
}

.ud-contact {
    padding: 120px 0px;
    position: relative;
    color: black;
}

@media (max-width: 767px) {
    .ud-contact {
        padding: 80px 0;
    }
}

.ud-contact::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: 50%;
    background: #f3f4fe;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ud-contact::after {
        height: 45%;
    }
}

.ud-contact-title {
    margin-bottom: 150px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .ud-contact-title {
        margin-bottom: 50px;
    }
}

.ud-contact-title span {
    color: #06042E;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
}

.ud-contact-title h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
}

.ud-contact-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .ud-contact-info-wrapper {
        margin-bottom: 50px;
    }
}

.ud-contact-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ud-contact-info-wrapper .ud-single-info {
    flex: 1;
    max-width: 43.33%;
}

.ud-contact-info-wrapper .ud-info-icon {
    font-size: 32px;
    color: #06042E;
    margin-right: 24px;
}

.ud-contact-info-wrapper .ud-info-meta h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.ud-contact-info-wrapper .ud-info-meta p {
    font-size: 15px;
    line-height: 24px;
}

.ud-contact-form-wrapper {
    -webkit-box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: white;
    padding: 60px;
}

@media (max-width: 767px) {
    .ud-contact-form-wrapper {
        padding: 40px 30px;
    }
    .ud-contact-info-wrapper .ud-single-info {
        flex: 2;
        max-width: 80.33%;
    }
    .ud-contact-form-wrapper {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px),
only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 576px) and (max-width: 767px) {
    .ud-contact-form-wrapper {
        padding: 50px 40px;
    }
}

.ud-contact-form-wrapper .ud-contact-form-title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .ud-contact-form-wrapper .ud-contact-form-title {
        font-size: 24px;
    }
}

.ud-contact-form-wrapper .ud-form-group {
    margin-bottom: 25px;
}

.ud-contact-form-wrapper .ud-form-group label {
    display: block;
    font-weight: normal;
    font-size: 12px;
}

.ud-contact-form-wrapper .ud-form-group input,
.ud-contact-form-wrapper .ud-form-group textarea {
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #f1f1f1;
    resize: none;
}

.ud-contact-form-wrapper .ud-form-group input:focus,
.ud-contact-form-wrapper .ud-form-group textarea:focus {
    border-color: #06042E;
}

@media (max-width: 767px) {
    .ud-contact {
        padding: 80px 0;
    }
    .ud-contact-title {
        margin-bottom: 50px;
    }
    .ud-contact-info-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .ud-contact-info-wrapper .ud-single-info {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ud-contact::after {
        height: 45%;
    }
}

.review {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.review .person {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 18px;
}

.review .person img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.review .stars {
    color: orange;
}

.top-text {
    color: #6440FB;
    font-size: 14px;
}
.nav-pills .nav-link {
    color: #6C6C6C;
    background-color: transparent;
    border: none;
}
.nav-pills .nav-link.active {
    color: #6440FB;
    background-color: transparent;
    border-bottom: 2px solid #6440FB;
    border-radius: 0;
}
.course-card {
    border-radius: 10px;
    margin:  15px;
    overflow: hidden;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.course-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.course-tags {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000000;
}
.course-tag {
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 12px;
}
.course-info {
    padding: 20px;
}

.course-info h5 {
    color: black;
}
.course-rating {
    color: #FFC107;
}
.enroll-btn {
    background-color: #FFC107;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}
.course-price {
    color: #6440FB;
    font-weight: bold;
}
.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background-color: #6440fb;
    border-radius: 50%;
    z-index: 10;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
}
.slick-prev {
    left: -40px;
}
.slick-next {
    right: -40px;
}

.course-slider {
    height: 100%;
    padding: 40px 0;
    height: 400px;
    margin-bottom: 40px;
}


.slide h1 {
    color: #161439;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    text-decoration: none;
}
.about-section {
    padding: 80px 0; 
}

.about .content {
}

.about-text h2 {
    font-size: 28px; /* Mengurangi ukuran font untuk heading */
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px; /* Mengurangi letter spacing */
    margin-bottom: 15px; /* Mengurangi margin bawah heading */
}

.about-text p {
    font-size: 16px; 
    color: #fff;
    text-align:justify;
    line-height: 1.6; /* Mengurangi jarak antar baris */
    margin-bottom: 15px; /* Mengurangi margin bawah paragraf */
}

.about-image img {
    border-radius: 8px; /* Sedikit mengurangi border-radius */
    box-shadow: 0 3px 15px rgba(19, 8, 8, 0.6); /* Mengurangi shadow untuk efek yang lebih halus */
}


.btn-primary {
    background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
    position: relative;
    border: 1px solid #000;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    transition: all .3s ease-in-out;
}

.btn-primary:hover {
    background-color: #ff7e5f;
    border-color: #ff7e5f;
}


.pelayanan-section {
  padding: 80px 0;
}

.feature-card {
   border: 1px solid rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    margin: 10px 0;
    background:none;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.icon-box {
    font-size: 40px;
    color: #6a5acd;
}

.gradient-icon {
    background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* start pelayanan */

.naonnya .content{
    
}

.naonnya img {
    width: 80%;
}
.section-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.step-title {
    font-size: 36 px;
    font-weight: 900;
    padding: 10px 0;
    text-transform: uppercase;
}

.step-description {
    font-size: 16px;
    margin-bottom: 1rem;
}

.step-image {
    max-width: 100%;
    height: auto;
}

.step-number {
    color: #a020f0;
    font-size: 1.25rem;
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .step-description {
        text-align:justify;
    }
}

/* end pelayanan */

.cta-link {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-link:hover {
    text-decoration: underline;
}


.subscribe-section {
    border-radius: 10px;
    position: relative;
}

.subscribe-section .bordered {
    padding: 50px 10px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    border-radius: 15px;
}

.text-gradient {
    background: linear-gradient(45deg, #6a5acd, #e009e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-gradient {
    background: linear-gradient(45deg, #6a5acd, #e009e4);
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: background 0.3s ease-in-out;
}

.btn-gradient:hover {
    background: linear-gradient(45deg, #e009e4, #6a5acd);
}

.highlight {
    color: #e009e4;
}

.subscribe-section::before,
.subscribe-section::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6a5acd;
    animation: move 10s linear infinite;
}

.subscribe-section::before {
    top: -30px;
    left: 10%;
    
}

.subscribe-section::after {
    bottom: -30px;
    right: 10%;
    background-color:  #e009e4;
}

@keyframes move {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(30px) translateY(20px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
