@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --dark: #0f051d;
  --white: #fff;
  --black: #000;
  --pink: #e009e4;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #0f051d;
  color: white;
}

@media (min-width: 1200px) {
  .container {
    padding: 0 70px;
  }
}

@media (max-width: 758px) {
  .content {
    padding: 0 40px;
  }
}

.btn {
  border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
  padding: 12px 20px;
}

.title {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
  padding: 50px 0;
}

.title h3 {
  font-size: 35px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}

.title span {
  font-size: 35px;
  font-weight: 900;
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.container {
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #0f051d;
}

.navbar .btn-outline-secondary {
  border: 1px solid;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
}

.navbar-brand img {
  width: 170px;
}

.navbar {
}

.navbar-nav .nav-link {
  margin-left: 40px;
  font-size: 15px;
  color: white;
}

.scrolled .navbar-nav .nav-link {
  color: black;
}

.navbar-nav .sosmed {
  margin-left: 20px;
  font-size: 25px;
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  background-color: white;
}

.navbar-collapse {
  background-color: #06042e;
}

.scrolled {
  position: fixed;
  background-color: white;
  color: black;
  padding: 5px 30px;
  transition: all 0.5s ease-in-out;
}

.scrolled .navbar a {
  color: black;
  transition: 0.4s ease-in-out;
}

.scrolled .logo {
  color: black;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.scrolled .icons i {
  color: white;
  transition: 0.4s ease-in-out;
  box-shadow: 4px 6px 0 0 var(--white);
}

.scrolled .nav-link.active {
  color: black;
}

.scrolled .navbar-link {
  font-weight: 500;
  color: red;
}

.scrolled .navbar-brand {
  color: black;
}

.navbar-collapse {
  z-index: 2;
  background: none;
}

.navbar-collapse::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.scrolled .navbar-collapse {
  background: none;
}

.navbar-toggler {
  color: white;
  font-size: 20px;
  z-index: 99;
}

@media (max-width: 768px) {

    .navbar {
        padding:0 15px;
    }
  .navbar-brand {
    width:30px;
    /* Atur ukuran font */
  }
  .navbar-toggler {
    color: white;
    font-size: 20px;
  }
}

/* hero */

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .display-4 {
  font-size: 44px;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
}

.hero-section img {
  width: 450px;
  height: auto;
}
@media (max-width: 758px) {
  .hero-section {
    justify-content: center;
    align-items: center;
    text-align: start;
  }

  .hero-section img {
    padding: 40px 0;
  }
}
.display-4 span {
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home {
  min-height: 100vh;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.buttons {
  padding: 60px 0;
}

.btn-main {
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  position: relative;
  border: 1px solid #000;
  padding: 15px 20px;
  border-radius: 50px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-main:hover {
  border: 2px solid white;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.informasi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.informasi-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.1);
  height: 500px;
  /* Tinggi yang sesuai dengan kebutuhan */
}

.informasi-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.informasi-image img {
  width: 300px;
  height: 300px;
}

.informasi .informasi-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.979);
  background: linear-gradient(0deg, #ffffff 35%, transparent);
}

.informasi-text {
  position: absolute;
  bottom: 0;
  color: rgba(0, 0, 0, 0.623);
  z-index: 2;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.informasi-text h5 {
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.informasi-text p {
  font-size: 18px;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author img {
  border-radius: 50%;
  margin-right: 10px;
}

.author span {
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .informasi-content {
    width: 100%;
  }
  .informasi-text h5 {
    font-size: 24px;
  }
  .informasi-text p {
    font-size: 14px;
  }
}

.menu {
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.menu-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  color: #fff;
}

.menu-card .poster {
  position: relative;
  overflow: hidden;
}

.menu-card .poster::before {
  content: "";
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ffffff 45%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.menu-card:hover .poster::before {
  bottom: 0px;
}

.menu-card .poster img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  transition: 0.5s;
}

.menu-card:hover .poster img {
  transform: translateY(-50px);
  filter: blur(5px);
}

.menu-card .details {
  position: absolute;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: -120px;
  transition: 0.5s;
  padding: 10px;
  z-index: 999;
  transition: 0.5s;
}

.menu-card:hover .details {
  bottom: 0;
}

.menu-card .tags {
  padding: 10px 0;
}

.menu-card .tags span {
  background-color: #efeefe;
  color: #007bff;
  padding: 5px 10px;
  margin: 0 5px;
}

.menu-card .details .tags span:nth-child(2) {
  background: orange;
}

.footer {
  background: #06042e;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer .icon {
  margin-bottom: 20px;
}

.footer .icon a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.footer .icon a:hover {
  color: #007bff;
}

.footer .link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .link ul li {
  display: inline-block;
  margin: 0 15px;
}

.footer .link ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .link ul li a:hover {
  color: #007bff;
}

.footer .copy {
  margin-top: 20px;
  color: #6c757d;
}

@media (max-width: 768px) {
  .footer .link ul li {
    display: block;
    margin: 10px 0;
  }
}

.tw {
  color: #1da1f2;
}

.gh {
  color: #ffffff;
}

.fb {
  color: #4267b2;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  line-height: 1.8;
}

.btn-main {
  background-color: #feb47b;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-main:hover {
  border: 2px solid white;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-primary:hover {
  border: 2px solid white;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}


.about-section {
  padding: 80px 0;
}

.about .content {
}

.about-text h2 {
  font-size: 28px; /* Mengurangi ukuran font untuk heading */
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px; /* Mengurangi letter spacing */
  margin-bottom: 15px; /* Mengurangi margin bawah heading */
}

.about-text p {
  font-size: 16px;
  color: #fff;
  text-align: justify;
  line-height: 1.6; /* Mengurangi jarak antar baris */
  margin-bottom: 20px; /* Mengurangi margin bawah paragraf */
}

.about-image img {
  border-radius: 8px; /* Sedikit mengurangi border-radius */
  box-shadow: 0 3px 15px rgba(19, 8, 8, 0.6); /* Mengurangi shadow untuk efek yang lebih halus */
  margin-bottom: 15px;
}

.btn-primary {
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  position: relative;
  border: 1px solid #000;
  padding: 15px 20px;
  border-radius: 50px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  border: 2px solid white;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.pelayanan-section {
  padding: 80px 0;
}

.feature-card {
  border: 1px solid rgba(255, 255, 255, 0.295);
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  margin: 10px 0;
  background: none;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.icon-box {
  font-size: 40px;
  color: #6a5acd;
}

.icon-box i{
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* start pelayanan */

.naonnya .content {
}

.naonnya img {
  width: 80%;
}
.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.step-title {
  font-size: 36 px;
  font-weight: 900;
  padding: 10px 0;
  text-transform: uppercase;
}

.step-description {
  font-size: 16px;
  margin-bottom: 1rem;
}

.step-image {
  max-width: 100%;
  height: auto;
}

.step-number {
  color: #a020f0;
  font-size: 1.25rem;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .step-description {
    text-align: justify;
  }
}

/* end pelayanan */

.cta-link {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-link:hover {
  text-decoration: underline;
}

.subscribe-section {
  border-radius: 10px;
  position: relative;
  padding: 50px;
}

.subscribe-section h2 {
  font-weight: 800;
  font-size: 40px;
}

.subscribe-section .bordered {
  padding: 50px 10px;
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 15px;
}

.text-gradient {
  background: linear-gradient(45deg, #6a5acd, #e009e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  background: linear-gradient(45deg, #6a5acd, #e009e4);
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  transition: background 0.3s ease-in-out;
}

.btn-gradient:hover {
  background: linear-gradient(45deg, #e009e4, #6a5acd);
}

.highlight {
  color: #e009e4;
}

.subscribe-section::before,
.subscribe-section::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6a5acd;
  animation: move 10s linear infinite;
}

.subscribe-section::before {
  top: -30px;
  left: 10%;
}

.subscribe-section::after {
  bottom: 10px;
  right: 20%;
  background-color: #e009e4;
}

@keyframes move {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(30px) translateY(20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@media (max-width: 1024px) {
  .subscribe-section::before,
  .subscribe-section::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6a5acd;
    animation: move 10s linear infinite;
  }
  .subscribe-section::after {
    bottom: 30px;
    right: 20%;
    background-color: #e009e4;
  }

  .bordered form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}
.team-member img {
  border-radius: 15px;
  border: 5px solid #fff;
  margin-bottom: 15px;
  max-width: 100%;
}
.team-member h4 {
  color: var(--white);
  font-weight: 700;
}
.team-member span {
  color: #7a738f;
}
.social-icons {
  list-style: none;
  padding: 0;
  margin-top: 15px;

  text-align: center;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons i {
  font-size: 20px;
  color: white;
}

.social-icons i:hover {
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  color: transparent;
}

img.riki {
  background-color: #e009e4;
}
img.dipa {
  background-color: #38b000;
}
img.zaki {
  background-color: #1c3cf3;
}

/* faq */

@media (min-width: 1200px) {
  .faq .sub-title {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
  }
}

@media (max-width: 1024px) {
  .faq .sub-title {
    text-align: center;
  }
}


.faq span {
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.accordion-item {
  background: none;
}

.accordion-header {
  background:none ;
}

.ajakan {
  background: url('https://www.britweb.co.uk/wp-content/uploads/2023/05/dev_banner-optimized.webp') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
  height: 70vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ajakan .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Darken the image */
  z-index: 1;
}



.ajakan::before,
.ajakan::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
 
 
}

.ajakan::after {
  top: 0;
  background: linear-gradient(180deg,rgb(23, 6, 50) 10% , rgba(14, 13, 13, 0.555)30%);
  
}


.ajakan::before {
bottom: 0;
  background: linear-gradient(0deg,rgb(38, 1, 90) 10% , rgba(14, 13, 13, 0.555)30%);
  
}



.ajakan .container {
  position: relative;
  z-index: 3;
}

.ajakan h1 {
  font-weight: 900;
}

.ajakan span {
  background: linear-gradient(90deg, #1c3cf3 0%, #e009e4 100%);
  -webkit-background-clip: text;
  color: transparent;
}


/* tech sec */
.technologies-section .tech-icon {
  font-size: 4rem; /* Ukuran ikon */
  margin-bottom: 1rem;
  padding-top: 25px;
}

.technologies-section h5 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-top: 1rem;
}

/* Specific Icon Colors (if not set inline) */
.tech-icon .bxl-html5 {
  color: #E34F26;
}

.tech-icon .bxl-css3 {
  color: #1572B6;
}

.tech-icon .bxl-javascript {
  color: #F7DF1E;
}

.tech-icon .bxl-php {
  color: #777BB4;
}

.tech-icon .bxl-bootstrap {
  color: #7952B3;
}

.bx-code-alt {
  color: #F74E19;
}

/* Hover Effects */
.technologies-section {
  padding-bottom: 40px 0;
}
.technologies-section .tech-icon {
  font-size: 4rem; /* Ukuran ikon */
  margin-bottom: 1rem;
}

.technologies-section h5 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-top: 1rem;
}

/* Specific Icon Colors (if not set inline) */
.tech-icon .html {
  color: #E34F26;
}

.tech-icon .css {
  color: #1572B6;
}

.tech-icon .js {
  color: #F7DF1E;
}

.tech-icon .php {
  color: #777BB4;
}

.tech-icon .boostraps {
  color: #7952B3;
}

.tech-icon .ci {
  color: #F74E19;
}


.tech-icon .laravel {
  color: #FF2D20;
}

.tech-icon .mysql {
  color: #00758F;
}

.tech-icon .sql {
  color: #4479A1;
}

/* General Styles */
.tech-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  
}

.tech-icon img {
  width: 60px;
}

/* Hover Effects */
.tech-icon:hover {
  transform: scale(1.1); /* Sedikit perbesar ikon saat hover */
  transition: transform 0.3s ease;
}
.tech-icon:hover {
  transform: scale(1.1); /* Sedikit perbesar ikon saat hover */
  transition: transform 0.3s ease;
}
